<div id="react-root">
  <%= react_component("DoulaPresentation") %>  <!-- Cette ligne affiche ton composant React -->
</div>


<div class="rdv-button">

<%= link_to 'Mon offre', prestations_path %>
</div>
