
<div class="message">
<div class="thank-you-message">
  <p>Merci pour votre message. Je vous recontact dés que possible</p>
</div>


<div class="retour-accueil">
<%= link_to 'Accueil', root_path, class:'retour-accueil'%>
</div>
</div>
